[Unit]
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/<your username>/wiimote/wiimote.py

[Install]
WantedBy=default.target
